@import url('reset.css');
@import url('fonts.css');


:root {
    --bg-color: #171717;
    --second-bg-color: #0E0E0E;
    --txt-color: #FFFFFF;
}

.light-theme {
    --bg-color: #FFFFFF;
    --second-bg-color: #eeeeee;
    --txt-color: #171717;
}

.vehicles__title,
.services__title,
.projects__title {
    color: var(--txt-color);
}

body {
    background-color: var(--bg-color);
    padding: 37px 0 239px;    
    font-family: 'Gilam';    
    color: #FFFFFF;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
}

.services__capture {
    color: var(--txt-color);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.main__btn {
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: #E4B564;
    padding: 10px 25px 10px 49px;
    border: 1px solid #E4B564;
    position: relative;
}

.header__contact-link::before {
    content: '';
    position: absolute;
    left: 25px;
    bottom: 16px;
    height: 16px;
    width: 16px;
    background: url('../icons/phone.svg') no-repeat;
}

/* section services */

.services__title {
    margin-bottom: 40px;
}

.services__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 41px;
    color: var(--txt-color);
}

.services__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(468px, auto);
    gap: 30px;
    margin-bottom: 161px;
}

.services__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    padding: 0 43px;
}

.services__item_1 {
    grid-column: 1 / 3;
    background: #634F2C;
}

.services__item_2 {
    grid-column: 3 / 5;
    background: #B4A385;
}

.services__item_3 {
    grid-column: 5 / 7;
    background: #E4B564;
}

.services__item_4 {
    grid-column: 1 / 4;
    background: #635A4A;
}

.services__item_5 {
    grid-column: 4 / 7;
    background: #B08C4D;
}

/* section vehicles */

.vehicles__title {
    margin-bottom: 94px;
}

.vehicles__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, minmax(125px, auto));
    gap: 30px;
    margin-bottom: 191px;
}

.vehicles__item {
    padding: 44px 52px;
}

.vehicles__name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
}

.vehicles__name span{
    font-weight: 700;
}

.vehicles__item_1 {
    background: #0E0E0E;
    grid-row: 1 / 3;
}

.vehicles__item_2 {
    background: #242424;
    grid-row: 1 / 4;
}

.vehicles__item_3 {
    background: #1F1F1F;
    grid-row: 1 / 3;
}

.vehicles__item_4 {
    background: #1F1F1F;
    grid-row: 3 / 7;
}

.vehicles__item_5 {
    background: #E4B564;
    grid-row: 4 / 7;
    color: #000000;
}

.vehicles__item_6 {
    background: #0E0E0E;
    grid-row: 3 / 5;
}

.vehicles__item_7 {
    background: #0A0909;
    grid-row: 5 / 7;
}

.vehicles__item_7 h5{
    font-weight: 700;
}

/* section projects */

.projects {
    padding-top: 172px;
    background: var(--second-bg-color);
}

.projects__header {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 72px;
}

.projects__btn {
    padding: 10px 40px;
}

.projects__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(391px, auto);
}

.projects__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__link {
    text-align: center;
}

.projects__description{
    max-width: 326px;
    display: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.27;
    text-align: center;
}

.projects__description span{
    font-weight: 400;
}

.projects__link:hover .projects__description{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.projects__item_1,
.projects__item_6 {
    background: #634F2C;
}

.projects__item_2 {
    background: rgba(232, 210, 171, 0.76);
}

.projects__item_3 {
    background: #E4B564;
}

.projects__item_4 {
    background: #635A4A;
}

.projects__item_5 {
    background: #B08C4D;
}

.theme {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 2px solid #E4B564;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}